{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2 class="mb-4">Upcoming Events</h2>
        <div class="table-responsive shadow-sm">
            <table class="table table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Event Name</th>
                        <th>Date</th>
                        <th>Venue</th>
                        <th>Organizer</th>
                        <th>Registered / Capacity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.date.strftime('%Y-%m-%d') }}</td>
                        <td>{{ event.venue.name }}</td>
                        <td>{{ event.organizer.name }}</td>
                        <td>{{ event.attendees | length }} / {{ event.venue.capacity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>                            
            </table>
        </div>

    </div>
</div>
{% endblock %}
